polyline{
    fill: none;
    stroke: black;
    stroke-width: 2px;
}
line{
    stroke-width: 15px;
}
#boldPoly{
    stroke-width: 15px;
}
.thinLine{
    stroke-width: 2px;
}
#horizontal{
    fill:black;
    stroke: none;
}
rect{
    opacity: 75%;
}
.yellow{
    fill: #F9D507;
    stroke: none;
}
.red{
    fill: #F90505;
    stroke: none;
    transform-origin: center;
}
.blue{
    fill:#0781C0;
    stroke:none;
}
.hidden{
    fill:none;
    stroke:none;
}
.hidden_b{
    fill:none;
    stroke:none;
}
.hidden_y{
    fill:none;
    stroke:none;
}
body{
    padding-left: 100px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#container1{
    display: flex;
}
#sidebar{
    width: 33%;
    border-left: 3px solid black;
    padding-left: 20px;
}
#header{
    border-bottom: 3px solid black;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
}
#site{
    display: flex;
}
svg>svg{
    display: inline;
}